#main-page {
  display: flex;

  color: #2e2866;
  
  margin: 6.4rem auto;
  padding: 8rem;

  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
}

.different-color{
  color: #1e8b55;
}

table {
  border-collapse: collapse;
  width: 70rem;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #36cf82;
}
